WisBlock_5005_only_one_Relay_control_with_Buttons_1_and_2/Use Cases 1 and 2 Flow.txt
[{"id":"e361b2f.7b3355","type":"tab","label":"rak_button","disabled":false,"info":""},{"id":"dd0039e2.ef7a38","type":"mqtt in","z":"e361b2f.7b3355","name":"","topic":"application/16/device/ac1f09ffe981366c/rx","qos":"0","datatype":"auto","broker":"117ec3d4.656b2c","x":200,"y":100,"wires":[["cf5f4f6.e06dbb","271bede3.9a5f02"]]},{"id":"cf5f4f6.e06dbb","type":"debug","z":"e361b2f.7b3355","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":160,"wires":[]},{"id":"271bede3.9a5f02","type":"json","z":"e361b2f.7b3355","name":"","property":"payload","action":"","pretty":false,"x":510,"y":100,"wires":[["dcf4ce78.75884","18f74e82.8b63d1"]]},{"id":"dcf4ce78.75884","type":"debug","z":"e361b2f.7b3355","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":160,"wires":[]},{"id":"20dc70e2.5d9da","type":"debug","z":"e361b2f.7b3355","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]},{"id":"a4840ffb.57e8a","type":"mqtt out","z":"e361b2f.7b3355","name":"","topic":"application/15/device/73e311c46347cad0/tx","qos":"0","retain":"","broker":"117ec3d4.656b2c","x":1340,"y":100,"wires":[]},{"id":"18f74e82.8b63d1","type":"function","z":"e361b2f.7b3355","name":"function","func":"var newM ={payload: msg.payload.data};\n// downliank settings\nvar dlPort = 1;\nvar dlConfirmed = false;\n// use payload fields\nvar message = {\n    fPort: dlPort, \n    confirmed: dlConfirmed, \n    data: msg.payload.data,\n}; \nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":100,"wires":[["20dc70e2.5d9da","bf9d567e.10ce88"]]},{"id":"84002c82.bc10d","type":"change","z":"e361b2f.7b3355","name":"Button1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"confirmed\":false,\"fPort\":1, \"data\":\"MDE=\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":80,"wires":[["a4840ffb.57e8a"]]},{"id":"ed2cac8.1b01a5","type":"change","z":"e361b2f.7b3355","name":"Button2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"confirmed\":false,\"fPort\":2, \"data\":\"MDI=\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":140,"wires":[["a4840ffb.57e8a"]]},{"id":"bf9d567e.10ce88","type":"switch","z":"e361b2f.7b3355","name":"2_Buttons","property":"payload.data","propertyType":"msg","rules":[{"t":"cont","v":"MDE=","vt":"str"},{"t":"cont","v":"MDI=","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":80,"wires":[["84002c82.bc10d"],["ed2cac8.1b01a5"]]},{"id":"117ec3d4.656b2c","type":"mqtt-broker","z":"","name":"Built_in Lorawan Gateway ","broker":"192.168.50.21","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
