WisBlock_5005_only_one_Relay_control_with_Buttons_1_and_2/Use Case 1 Flow.txt
[{"id":"932d68b4.25e718","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"776ac6f6.ffb2c8","type":"mqtt in","z":"932d68b4.25e718","name":"","topic":"application/5/device/ac1f09ffe981366c/rx ","qos":"2","datatype":"auto","broker":"79bab62c.1e7e08","x":180,"y":120,"wires":[["250b037c.d71bfc","16b416ad.46c9e9"]]},{"id":"250b037c.d71bfc","type":"debug","z":"932d68b4.25e718","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":200,"wires":[]},{"id":"16b416ad.46c9e9","type":"json","z":"932d68b4.25e718","name":"","property":"payload","action":"","pretty":false,"x":490,"y":120,"wires":[["9bf6aa8.fdd21d8","44bd801e.419688"]]},{"id":"9bf6aa8.fdd21d8","type":"debug","z":"932d68b4.25e718","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"44bd801e.419688","type":"function","z":"932d68b4.25e718","name":"","func":"\nvar newM ={payload: msg.payload.data};\n// downliank settings\nvar dlPort = 1;\nvar dlConfirmed = false;\n// use payload fields\nvar message = {\n    fPort: dlPort, \n    confirmed: dlConfirmed, \n    data: msg.payload.data,\n}; \nmsg.payload = message;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":120,"wires":[["baffa82b.8d95a","111a4935.9a2987"]]},{"id":"baffa82b.8d95a","type":"debug","z":"932d68b4.25e718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":200,"wires":[]},{"id":"111a4935.9a2987","type":"switch","z":"932d68b4.25e718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"MDE=","vt":"str"},{"t":"cont","v":"MDI=","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":120,"wires":[["cc5493b4.bd2b68"],["959c55e5.147e38"]]},{"id":"cc5493b4.bd2b68","type":"change","z":"932d68b4.25e718","name":"Button 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"confiremed\":true,\"fPort\":1,\"data\":\"MDE=\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":80,"wires":[["e5c5e7b2.f09c4"]]},{"id":"959c55e5.147e38","type":"change","z":"932d68b4.25e718","name":"Button2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"confiremed\":true,\"fPort\":2, \"data\":\"MDI=\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":140,"wires":[["e5c5e7b2.f09c4"]]},{"id":"e5c5e7b2.f09c4","type":"mqtt out","z":"932d68b4.25e718","name":"","topic":"application/5/device/8888888888883333/tx","qos":"","retain":"","broker":"79bab62c.1e7e08","x":1390,"y":120,"wires":[]},{"id":"79bab62c.1e7e08","type":"mqtt-broker","name":"Built-in_MQTT_Broker","broker":"192.168.50.21","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]